.App {
  font-size: calc(12px + 1vmin);
  margin: 5rem auto;
}
@media screen and (min-width: 992px) {
  .App {
    width: 95vw;
  }
}
.page-title {
  color: #046582;
}
hr {
  width: 7.5vw !important;
  height: 6px !important;
  background-color: #bb8082 !important;
  border-radius: 5rem !important;
  border: none !important;
  opacity: 1 !important;
  margin: 1rem auto !important;
}
.review-section {
  margin: 3rem !important;
  position: relative;
  overflow: hidden;
}
.btn {
  background-color: #046582 !important;
  color: white !important;
  position: absolute !important;
  top: 50%;
}
.btn-left {
  left: 0;
}
.btn-right {
  right: 0;
}
.btn:hover {
  background-color: #bb8082 !important;
}
img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  box-shadow: 0px 2px 10px 5px rgb(0 0 0 / 15%), 0 6px 20px 0 rgb(0 0 0 / 15%);
}
.person {
  text-transform: uppercase;
  margin-top: 1rem !important;
  font-weight: 700;
  color: #be8943cc;
  margin-bottom: 0 !important;
}
.designation {
  font-size: 15px;
  text-transform: capitalize;
}
.quote {
  font-size: 15px;
  color: #000000cf;
  font-style: italic;
}
.quote-start,
.quote-end {
  color: #bb8082;
}
[class^="article_"] {
  transition: all 0.3s linear;
}
.active-slide {
  transform: translateX(0);
}
.next-slide {
  transform: translateX(100%);
}
.prev-slide {
  transform: translateX(-100%);
}
